.button {
    font-size: 1.6rem;    
    border: none;    
    outline: none;   
    grid-column:  span 2;
    margin-top: 10px;
    margin-right: 10px;
}

.button:active {
    background-color: #ccc;
}
